<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pbh.calculate.mapper.RunningRecordMapper">

    <select id="selectRunningRecord" resultType="com.pbh.api.entity.RunningRecord">
        select t.id,t.user_id userId,t.type,IFNULL(t.kilometre,0) kilometre,IFNULL(t.consume_time,0) consumeTime,
        IFNULL(t.pace,0) pace,IFNULL(t.calorie,0) calorie,IFNULL(t.climb,0) climb,t.heart_rate heartRate,t.stride_rate strideRate,
               t.stride,t.running_time runningTime,t.status,t.create_time createTime,
               t.create_user_id createUserId,t.update_time updateTime,t.update_user_id updateUserId
        from running_record t
        <where>
            t.status = 0
            <if test="userId != null and userId != '' ">
                and t.user_id = #{userId}
            </if>
            <if test="startTime != null and startTime != '' ">
                and t.running_time >= #{startTime}
            </if>
            <if test="endTime != null and endTime != '' ">
                and  #{endTime} >= t.running_time
            </if>
        </where>
    </select>

    <!-- 健康记录月度汇总 -->
    <select id="selectMonthRunningRecord" resultType="com.pbh.api.entity.RunningRecord">
        SELECT
            t.user_id userId,
            date_format( t.running_time, '%Y-%m' ) runningTime,
            SUM( IFNULL(t.kilometre,0) ) kilometre,
            SUM( IFNULL(t.consume_time,0) ) consumeTime,
            sum( IFNULL(t.calorie,0) ) calorie,
            sum( IFNULL(t.climb,0) ) climb,
            sum( IFNULL(t.pace,0) ) pace,
            avg( IFNULL(t.heart_rate,0)) heartRate
        FROM running_record t
        <where>
            t.status = 0
            <if test="userId != null and userId != '' ">
                and t.user_id = #{userId}
            </if>
            <if test="startTime != null and startTime != '' ">
                and t.running_time >= #{startTime}
            </if>
            <if test="endTime != null and endTime != '' ">
                and  #{endTime} >= t.running_time
            </if>
        </where>
        GROUP BY userId, runningTime
    </select>

</mapper>