<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiu.calculate.mapper.RunningRecordMapper">

    <select id="selectRunningRecord" resultType="com.jiu.calculate.entity.RunningRecord">
        select t.id,t.user_id userId,t.type,t.kilometre,t.consume_time consumeTime,
               t.pace,t.calorie,t.climb,t.heart_rate heartRate,t.stride_rate strideRate,
               t.stride,t.running_time runningTime,t.status,t.create_time createTime,
               t.create_user_id createUserId,t.update_time updateTime,t.update_user_id updateUserId
        from running_record t
        <where>
            <if test="startTime != null and startTime != '' ">
                and t.running_time >= #{startTime}
            </if>
            <if test="endTime != null and endTime != '' ">
                and  #{endTime} >= t.running_time
            </if>
        </where>
    </select>

    <!-- 健康记录月度汇总 -->
    <select id="selectMonthRunningRecord" resultType="com.jiu.calculate.entity.RunningRecord">
        SELECT
            r.user_id userId,
            date_format( r.running_time, '%Y-%m' ) month,
            SUM( r.kilometre ) sumKilometre,
            sum( r.calorie ) sumCalorie,
            sum( r.climb ) sumClimb,
            sum( r.pace ) sumPace,
            avg(r.heart_rate) avgHeartRate
        FROM running_record r
        <where>
            <if test="startTime != null and startTime != '' ">
                and t.running_time >= #{startTime}
            </if>
            <if test="endTime != null and endTime != '' ">
                and  #{endTime} >= t.running_time
            </if>
        </where>
        GROUP BY r.user_id, month
    </select>

</mapper>